@model List<Homish.EntityLayer.Property>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Mülkler</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Mülkler </li>
            </ul>
        </div>
    </div>
</section>


<section class="w3l-services1">
    <div id="content-with-photo4-block" class="py-5">
        <div class="container py-md-5">
            <div class="header-section text-center mb-5">
                <h6 class="sub-title"> Mülkler</h6>
                <h3 class="hny-title">
                    Satılık Mülkler
                </h3>
            </div>
            <div class="cwp4-two row">
                @foreach (var item in Model)
                {
                <div class="cwp4-image col-lg-4 col-md-6 mt-4">
                    <div class="grids4-info">
                        <a href="#"><img src="@item.Image" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="#">Properties for rent</a></h5>
                            <span class="price">$ @item.Price/ay</span>
                            <p>@item.Description.</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> @item.BedroomCount</li>
                                <li><span class="fa fa-bath"></span> @item.BathroomCount</li>
                                <li><span class="fa fa-share-square-o"></span> @item.Square m2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>

